header {
    text-align: center;
    margin-bottom: 25px;
    background-color: #93d4fa80;
}

/* CSS */
details {
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

details[open] {
  transition: height 1s ease-in-out;
}

details summary {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

details summary::marker {
  content: "";
}

details .Job, details .school {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

details .Job:last-child, details .school:last-child {
  border-bottom: none;
}




.competences-section, .langues-section, .qualites-section {
  display: inline-block;
  vertical-align: middle;
  vertical-align: top;
  width: 30%;
  padding: 1%;
}